* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/images.jpg);
    background-size: cover;
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
}